@import '../../styles/variables';

.app-header {
  background-color: transparent;
  position: fixed;
  color: #FFFF;

  button {
    .mat-h3 {
      text-transform: capitalize;
    }
  }

  .fill {
    flex: 1 1 auto;
  }

  &.scrolled {
    background-color: $color-blue;
    color: #f5f5f5;
  }
}
