<div id="about" class="flex-center">
  <div class="container">
    <h1 class="section-title">A propos</h1>
    <p>
      Hermes est une société à responsabilité limitée basée au Cameroun qui excelle dans les équipements bancaires et
      industriels. Nous opérons depuis plus de 20 ans dans l'Afrique Centrale.
      Nous avons réuni les meilleurs ingénieurs et produits pour promouvoir l'innovation et atteindre l'excellence.
      Nous faisons dans les appareils ou outils de management et sécurisation des billets de banque et objects de
      valeur. Nous fournissons les banques, les entreprises et les particuliers.
      Hermes vend, installe et entretient des produits tels que :
    </p>
    <ul>
      <li>Coffres-forts et Armoires fortes</li>
      <li>Portes Fortes et Serrurerie Général</li>
      <li>Machines Bancaires</li>
      <li>System de Vidéosurveillance</li>
      <li>Fournitures industrielles et Équipements de Bureaux</li>
    </ul>
  </div>
</div>