<div id="about" class="flex-center">
  <div class="container">
    <h1 class="text-primary text-center">About Us</h1>
    <p>
      Hermes is a Limited Liability Company based in Cameroon that excels in banking and industrial equipments.
      It has been operating for more than 20 years across Central Africa.
      It has gathered the best minds and products to achieve excellency.
      The company provides cash flow system and security system for businesses and particulars.
      Hermes sales, installs and maintains products such as:
    </p>
    <ul>
      <li>Safes and Strong Cabinets</li>
      <li>Strong Doors and Locksmiths</li>
      <li>Banking machines</li>
      <li>CCTV systems</li>
      <li>Industrial appliances and office supplies</li>
    </ul>
  </div>
</div>