@import './variables';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #eee;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $color-blue;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.container {
  padding: 50px 20px;
  max-width: 1000px;
}

.parallax {
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title {
  text-align: center;
  color: $color-blue;
  padding-bottom: 20px;
  text-transform: capitalize;
}