<div id="product" class="product">
  <!-- Safe and cabinet-->
  <div class="safe-cabinet parallax flex-center"></div>
  <div class="flex-center">
    <div class="container">
      <h1 class="text-center text-primary">Safes and Strong Cabinets</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
      </p>
      <ul>
        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        <li>At vero eos et accusamus et iusto odio dignissimos</li>
        <li>Nam libero tempore, cum soluta nobis est eligendi</li>
        <li>Et harum quidem rerum facilis est et expedita distinctio</li>
      </ul>
    </div>
  </div>

  <!--Strong Doors and Locksmiths-->
  <div class="strong-doors-locksmiths parallax flex-center"></div>
  <div class="flex-center">
    <div class="container">
      <h1 class="text-center text-primary">Strong Doors and Locksmiths</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
      </p>
      <ul>
        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        <li>At vero eos et accusamus et iusto odio dignissimos</li>
        <li>Nam libero tempore, cum soluta nobis est eligendi</li>
        <li>Et harum quidem rerum facilis est et expedita distinctio</li>
      </ul>
    </div>
  </div>

  <!-- Banking machines -->
  <div class="banking-machines parallax flex-center"></div>
  <div class="flex-center">
    <div class="container">
      <h1 class="text-center text-primary">Banking machines</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
      </p>
      <ul>
        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        <li>At vero eos et accusamus et iusto odio dignissimos</li>
        <li>Nam libero tempore, cum soluta nobis est eligendi</li>
        <li>Et harum quidem rerum facilis est et expedita distinctio</li>
      </ul>
    </div>
  </div>

  <!-- CCTV systems -->
  <div class="cctv-systems parallax flex-center"></div>
  <div class="flex-center">
    <div class="container">
      <h1 class="text-center text-primary">CCTV systems</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
      </p>
      <ul>
        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        <li>At vero eos et accusamus et iusto odio dignissimos</li>
        <li>Nam libero tempore, cum soluta nobis est eligendi</li>
        <li>Et harum quidem rerum facilis est et expedita distinctio</li>
      </ul>
    </div>
  </div>

  <!-- Industrial appliances and office supplies -->
  <div class="industrial-appliances parallax flex-center"></div>
  <div class="flex-center">
    <div class="container">
      <h1 class="text-center text-primary">Industrial appliances and office supplies</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
      </p>
      <ul>
        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        <li>At vero eos et accusamus et iusto odio dignissimos</li>
        <li>Nam libero tempore, cum soluta nobis est eligendi</li>
        <li>Et harum quidem rerum facilis est et expedita distinctio</li>
      </ul>
    </div>
  </div>
</div>